html, 
body {
  height: 100%;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.padding {
  padding: 5px;
}

.actions {
  width: 150px;

}

td, tr {
  vertical-align: middle;
}

.action-button {
  margin-left: 5px;

}

.show-grid {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 8px;
}

.grid {
  width: 100%
}

.window {
  height: 100vh;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.menu {
  background-color: #222;
  height: 100vh;
  display: block;
  color: #f2f2f2;
  padding:5px;
}

.menu h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
	border: 0;
	outline: 0;
	font-weight: 600;
	font-style: inherit;
	font-size: 110%;
	font-family: inherit;
	vertical-align: baseline;
  border-bottom: 1px solid #d6d6d6;
}

.menu-item {
  padding: 10px;
}

.menu-item:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-group a {
  margin: 0;
  padding: 0;  
	border: 0;
  outline: 0;
  width: 100%;
	font-weight: 600;
	font-style: inherit;
	font-size: 110%;
	font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #f2f2f2;
}

.menu-footer {
  position: absolute;    
  text-align: center;
  bottom: 0;
}

.content{
  
  overflow: hidden;
}

.services .transportation {
  padding: 8px;
  background-color: #f2f3f2;
  border-bottom: 1px #222 solid;
}


.dropdown-input .dropdown {
  width: 90%;
  position: absolute;   
  z-index: 99;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  text-decoration: none;
  list-style: none;
  padding: 8px;
}

.dropdown-input .dropdown li {
  padding: 3px;  
  cursor: pointer;
}

.dropdown-input .dropdown li:hover {  
  background-color: #aed5d7;
}



