.padding {
  padding: 5px;
}

.actions {
  width: 150px;

}

td, tr {
  vertical-align: middle;
}

.actions button {
  margin-left: 5px;

}

.show-grid {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 8px;
}

.grid {
  width: 100%
}